@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: unset;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    max-width: 1440px;
    min-width: 375px;
    width: 100%;
    height: 768px;
    box-sizing: border-box;
    padding: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 1.5rem;
    backdrop-filter: invert(1);
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
}

/*****************/
/* COLUMN 1 LEFT */
/*****************/

.imgWrapper {
    position: absolute;
    overflow: hidden;
}

#column1 {
    align-self: center;
}

img#patternDesktop {
    position: relative;
    width: 800px;
    left: -425px;
    top: 0;
}

img#womanDesktop {
    position: absolute;
    width: 450px;
    left: -80px;
    top: 225px;
}

img#boxDesktop {
    position: absolute;
    width: 180px;
    margin-left: -90px;
    margin-bottom: -95px;
}

/******************/
/* COLUMN 2 RIGHT */
/******************/

#column2 {
    align-self: flex-start;
    justify-content: flex-start;
    height: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.75);
    border-top-right-radius: unset;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
#column2Wrapper {
    backdrop-filter: blur(10px);
    padding: 0 2rem;
}
.col-header {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

/******************/
/* ACCORDION */
/******************/

.accordion-wrapper {
    max-width: unset;

}
.accordion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: unset;
    color: #444;
    cursor: pointer;
    padding: 18px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    line-height: 1rem;
}
  
.active {
    font-weight: 700;
}

.accordion:not(.active):hover {
    color: orange;
}

.accordion:after {
    content: '\2039';
    color: orange;
    font-weight: bold;
    float: right;
    margin-right: 5px;
    font-size: 24px;
    rotate: -90deg;
    margin-left: 0.5rem;
}

.active:after {
    rotate: 90deg;
    margin-right: 2px;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding-right: 1.5rem;
}

.panel>p {
    margin: 0;
    padding: 0 0 18px 0;    
}

/******************/
/* FOOTER */
/******************/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

