@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    /* letter-spacing: .05rem; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: unset;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    max-width: 1440px;
    min-width: 375px;
    width: 100%;
    height: 768px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    max-width: 850px;
    max-height: 500px;
    height: 100%;
    /* padding: 2rem; */
    background-color: white;
    border-radius: 1.5rem;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    /* overflow: hidden; */
}

#column1, #column2 {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}

#column1 {
    display: flex;
    align-self: center;
}
#column2 {
    display: flex;
    align-self: flex-start;
}

#column1>img#womanDesktop {
    position: absolute;
    width: 450px;
    margin-left: -100px;
}
#column1>img#boxDesktop {
    /* position: absolute; */
    width: 200px;
    margin-left: -150px;
    margin-bottom: -100px;
    z-index: 1;
}

.col-header {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }