@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: .05rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: unset;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: hsl(185, 75%, 39%); */
    /* background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position-x: -275px, 675px;
    background-position-y: -525px, 400px; */
    width: 1440px;
    height: 720px;
}








.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }