@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: unset;
    background: linear-gradient(0deg, hsl(240, 73%, 65%) 0%, hsl(273, 75%, 66%) 100%) repeat-x hsl(240, 73%, 65%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 375px;
    width: 100%;
    min-height: 768px;
    box-sizing: border-box;
    padding: 1.5rem;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.faq__card {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    background-color: white;
    border-radius: 1.5rem;
    /* backdrop-filter: invert(1); */
    box-shadow: 0 40px 80px -30px var(--veryDarkDesaturatedBlue);
}


/*****************/
/* COLUMN 1 LEFT */
/*****************/

.faq__column--left {
    position: relative;
    background: url(/images/bg-pattern-mobile.svg) no-repeat;
    background-size: 75%;
    background-position: center top;
    height: 130px;
}

.faq__image--woman {
    position: absolute;
    width: 100%;
    background: url(/images/illustration-woman-online-mobile.svg) no-repeat;
    background-position: center center;
    background-size: 75%;
    top: -150px;
    height: 200%;
}

.faq__image--box {
    display: none;
}

/******************/
/* COLUMN 2 RIGHT */
/******************/

.faq__column--right {
    align-self: flex-start;
    justify-content: flex-start;
    height: 100%;
    z-index: 2;
}

.faq__column-wrapper {
    /* backdrop-filter: blur(10px); */
    padding: 0 1.5rem;
}

.faq__header {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

/******************/
/* ACCORDION */
/******************/

.faq__accordion {
    max-width: 365px;
    padding: 1.5rem 0 3rem 0;
}
.accordion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: unset;
    color: #444;
    cursor: pointer;
    padding: 1rem 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    line-height: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}
  
.active {
    font-weight: 700;
}

.accordion:not(.active):hover {
    color: orange;
}

.accordion:after {
    content: '\2039';
    color: orange;
    font-weight: bold;
    float: right;
    margin-right: 5px;
    font-size: 24px;
    rotate: -90deg;
    margin-left: 0.5rem;
}

.active:after {
    rotate: 90deg;
    margin-right: -1px;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding-right: 1.5rem;
}

.panel>p {
    margin: 0;
    padding: 0 0 18px 0;    
}

/******************/
/* FOOTER */
/******************/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/******************/
/* MEDIA QUERIES */
/******************/


@media screen and (min-width: 1000px) {
    .faq__card {
        flex-direction: row;
        width: 900px;
    }
    .faq__column--left {
        flex: auto;
        position: relative;
        background: url(/images/bg-pattern-desktop.svg) no-repeat;
        background-size: 200%;
        background-position: left -525px top -275px;
        height: unset;

    }
    .faq__image--woman {
        position: unset;
        width: 100%;
        background: url(/images/illustration-woman-online-desktop.svg) no-repeat;
        background-position: left -80px top;
        background-size: 100%;
        height: 100%;
        margin-top: 3.5rem;
    }
    
    .faq__image--box {
        display: block;
        position: absolute;
        height: 175px;
        width: 175px;
        /* height: 50%;
        width: 40%; */
        background: url(/images/illustration-box-desktop.svg) no-repeat;
        background-position: center center;
        background-size: 100%;
        left: -5.4rem;
        top: 11rem;
        z-index: 1;
    }
    .faq__column--right {
        width: 450px;
    }
    .faq__column-wrapper {
        padding: 4rem 1rem;
    }
    .faq__header {
        text-align: left;
    }
    .faq__accordion {
        max-width: 22rem;
        padding: 1.5rem 0 1.5rem 0;
    }
    
}

